doctype html
html
  head
    title  IEEE ComSoc VIT Chennai
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width-device-width, initial-scale-1, shrink-to-fit=no"
    )
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/particle-config.css" />
    <link rel="stylesheet" href="css/style.css" />
  body
    include navbar.pug
    block content
    include footer.pug
    include analytics.pug