doctype html
html
  head
    title  IEEE ComSoc VIT Chennai
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    include stylesheets.pug

  body
    .loader-wrap
      .lds-facebook
        div
        div
        div
    include navbar.pug
    block content
    include footer.pug
    include scripts.pug
    include analytics.pug