footer.site-footer
  .container
    .row.mb-5
      .col-md-2
        img.footer-img(src='images/navlogo.png')
      .col-md-3
        h2.footer-heading.text-uppercase.mb-4(style='text-align:center; margin-top:25px;')
          | About Us
        p
          | The IEEE Computer Society Student Chapter VITC was founded in
          | 2018. With about 70 active student members, the chapter has been
          | focusing on topics such as Data Science, IoT, Embedded Systems
          | and Blockchain through funded projects, research and organizing
          | events.
      .col-md-2.ml-auto
        h2.footer-heading.text-uppercase.mb-4 Quick Links
        ul.list-unstyled
          li
            a(href='/index.html') About Us
          li
            a(href='/contact.html') Contact Us
      .col-md-4
        h2.footer-heading.text-uppercase.mb-4
          | Connect with Us
        p
          a.p-2.pl-0(href='https://www.facebook.com/comsoc.vitcc/')
            span.icon-facebook
          a.p-2(href='https://www.linkedin.com/company/ieee-computer-society-vit-chennai/')
            span.icon-linkedin
          a.p-2(href='https://www.instagram.com/comsoc.vitcc/')
            span.icon-instagram
