footer.site-footer
  .container
    .row.mb-5
      .col-md-2.ml-auto
        img.footer-img(src='static/images/navlogo.png')
      .col-md-3.ml-auto
        h2.footer-heading.text-uppercase.mb-4 Quick Links
        ul.list-unstyled
          li
            a(href='/index.html') About Us
          li
            a(href='/contact.html') Contact Us
      .col-md-4
        h2.footer-heading.text-uppercase.mb-4
          | Connect with Us
        p
          a.p-2.pl-0(href='https://www.facebook.com/comsoc.vitcc/')
            span.icon-facebook
          a.p-2(href='https://www.linkedin.com/company/ieee-computer-society-vit-chennai/')
            span.icon-linkedin
          a.p-2(href='https://www.instagram.com/comsoc.vitcc/')
            span.icon-instagram
