.site-mobile-menu
  .site-mobile-menu-header
    .site-mobile-menu-close.mt-3
      span.icon-close2.js-menu-toggle
  .site-mobile-menu-body
  
header.site-navbar.py-3(role='banner')
  .container-fluid
    .row.align-items-center
      .col-11.col-xl-2
        h1.mb-0
          a.text-white.h2.mb-0(href='index.html')
            | Comp
            span.header-soc Soc
      .col-12.col-md-10.d-none.d-xl-block
        nav.site-navigation.position-relative.text-right(role='navigation')
          ul.site-menu.js-clone-nav.mx-auto.d-none.d-lg-block
            li.active
              a(href='index.html') Home
            li
              a(href='contact.html') Contact
            li.cta
              a(href='https://hackhub_reg.typeform.com/to/btkUns?typeform-embed=embed-widget&typeform-embed-id=txahy' target='_blank' rel='noopener nofollow') Join us
      .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style='position: relative; top: 3px; right:10px;')
        a.site-menu-toggle.js-menu-toggle.text-white(href='#')
          span.icon-menu.h3
