mixin sponsor-logo(url, delay)
  .col-md-3.col-sm-4.col-4.col-lg-3.mb-5.mb-lg-0(
    data-aos='fade' 
    data-aos-delay=delay?delay:'400'
  )
    img.img-fluid.custom-img(src=url alt='Image')

+sponsor-logo('images/nokia1.2.png')
+sponsor-logo('images/cisco5.2.png')
+sponsor-logo('images/microsoft2.1.png')
+sponsor-logo('images/intel4.1.png')
+sponsor-logo('images/cakeamigo6.1.png')
+sponsor-logo('images/spot2get9.3.png')
+sponsor-logo("images/zac's7.1.png")
+sponsor-logo('images/dlink3.1.png')
+sponsor-logo('images/ptcindia8.1.png')
+sponsor-logo('images/aricent10.1.png')
+sponsor-logo('images/st11.1.png')
+sponsor-logo('images/nanotec.jpg')
+sponsor-logo('images/coovum.png')
+sponsor-logo('images/thingworx.png')
+sponsor-logo('images/benchmark.png')