script(src='/static/js/particles.min.js')
script(src='/static/js/jquery-3.3.1.min.js')
script(src='/static/js/bootstrap.min.js')
script(src='/static/js/aos.min.js')
script(src='/static/js/particle-config.js')
