script(src='js/particles.min.js')
script(src='js/stats.min.js')
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/jquery-ui.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/bootstrap-datepicker.min.js')
script(src='js/aos.js')
script(src='js/main.js')
script(src='js/particle-config.js')
