extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section.reduced-padding
    .container
      .container
        .row.mb-5
          .col-lg-4(data-aos='fade-up' data-aos-delay='100')
            .site-section-heading
              h2 Events
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/braintech.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | HackHub Hackathon
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                  | Hack-Hub 2019 was IEEE Computer Society's flagship event at VIT Chennai.
                  | It provided a gigantic platform to lock horns with the greatest minds from all over
                  | the city. The competition had a massive cash prize prize pool of 1,00,000/- INR.
                  | There were a plethora of domains to test the participant’s brains and wits like
                  | Robotics,
                  br
                  br
                  | Internet of Things, Embedded System, Machine Learning and Artificial Intelligence.
                  | It was held from 29/03/2019 to 30/03/2019. HackHub was entirely sponsored by Euro Exim Bank.
                  br
                  br
                  | The competition brought out some of the most innovative ideas from young engineers in the making. Considering it being the first year of the genesis of VIT Chennai’s Computer Society, this event was a massive success., and are signs of things yet to come.
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/workshop.jpg' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Workshop
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                | The IoT & Blockchain Workshop was the first event of the IEEE computer Society for this Academic year
                | and it was made glorious accordingly. 
                br
                br
                | Students were first taught some basics of Python by Aylmer Britto. Python is a required language for
                | mostly IoT applications and using Raspberry Pi. As Python is easy to grab and students were very
                | excited to learn this new language, they learned the basics very easily.
                br
                br
                | The second half of workshop was led by Sridhar Pandian. As students listened to him talk about
                | blockchain, they were amazed to learn a hard concept in a simple and elegant way. Starting with
                | introduction of blockchain, he leaned students towards how various transactions are held in blockchain.