extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section.reduced-padding
    .container
      .container
        .row.mb-5
          .col-lg-4(data-aos='fade-up' data-aos-delay='100')
            .site-section-heading
              h2 Events
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/braintech.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | HackHub Hackathon
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | A brain-computer interface (BCI) is a technology that allows
                | communication between a human or animal brain and an external
                | technology. This term can refer to an interface that takes
                | signals from the brain to an external piece of hardware, or a
                | technology that sends signals to the brain. Various different
                | brain-computer interface technologies have been developed at
                | different times, through different methods and for diverse
                | purposes, including in virtual reality technology. 
                br
                br
                |We work on BCI using emotive device to analyze brain waves and
                |to understand which brainwaves are generated during which
                |activities.
        br
        br
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/workshop.jpg' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Workshop
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                | Air conduction refers to sound from the outside carried by air
                | waves from the outer ear and transferred to electrical waves
                | in the inner ear. Bone conduction refers to sound conducted as
                | subtle vibration along the bones to the inner ear housing the
                | organs of hearing and balance. The sound vibration actually
                | activates both the sense of hearing and the organ of balance.
                | The vibration, in fact, is carried through the entire skeletal
                | structure. We are working on a device which can facilitate
                | this by using transducers.
    .site-section.reduced-padding
      .container
        .row.mb-5
          .col-lg-4(data-aos='fade-up' data-aos-delay='100')
            .site-section-heading
              h2 Projects
          .col-lg-5.mt-5.pl-lg-5(data-aos='fade-up' data-aos-delay='200')
            p
              | We are working on a few funded high-level projects in
              | collaboration with various organisations to help the students
              | gain industrial exposure and also get interesting internship
              | opportunities.
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid.braintech(src='/static/images/braintech.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.ml-5.mb-4.name(data-aos='fade-right' data-aos-delay='200')
              | Brain Computer Interface
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | A brain-computer interface (BCI) is a technology that allows
                | communication between a human or animal brain and an external
                | technology. This term can refer to an interface that takes
                | signals from the brain to an external piece of hardware, or a
                | technology that sends signals to the brain. Various different
                | brain-computer interface technologies have been developed at
                | different times, through different methods and for diverse
                | purposes, including in virtual reality technology. 
                br
                br
                | We work on BCI using emotive device to analyze brain waves and
                | to understand which brainwaves are generated during which
                | activities.
        br
        br
        .row.align-items-center.speaker
          .col-lg-6.mb-5.mb-lg-0.order-lg-2(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/bonetech.gif' alt='Image')
          .col-lg-6.ml-auto.order-lg-1
            h2.text-white.ml-4.mb-4.name(data-aos='fade-left' data-aos-delay='200')
              | Bone Conduction
            .bio.pr-lg-5
              p.mb-4(data-aos='fade-left' data-aos-delay='400')
                | Air conduction refers to sound from the outside carried by air
                | waves from the outer ear and transferred to electrical waves
                | in the inner ear. Bone conduction refers to sound conducted as
                | subtle vibration along the bones to the inner ear housing the
                | organs of hearing and balance. The sound vibration actually
                | activates both the sense of hearing and the organ of balance.
                | The vibration, in fact, is carried through the entire skeletal
                | structure. We are working on a device which can facilitate
                | this by using transducers.
        br
        br
        .row.align-items-center.speaker
          .col-lg-6.ml-auto.mb-5.mb-lg-0(data-aos='fade' data-aos-delay='100')
            img.img-fluid(src='/static/images/robotics.gif' alt='Image')
          .col-lg-6.ml-auto
            h2.text-white.mb-4.name(data-aos='fade-right' data-aos-delay='200' style='margin-left:80px;')
              | Robotics
            .bio.pl-lg-5
              p.mb-4(data-aos='fade-right' data-aos-delay='400')
                | We are working on multi axle and granary bots to make a robot
                | capable of performing certain specific tasks just like a
                | human. The robot is aware of its s urrounding and can detect
                | objects and react according to them appropriately.
