extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section.site-hero.inner
      .container
        .row.align-items-center
          .col-md-10
            span.d-block.mb-3.caption(data-aos='fade-up') VIT Chennai&apos;s IEEE
            h1.d-block.mb-4(data-aos='fade-up' data-aos-delay='100')
              | Computer Society
    .site-section.reduced-padding
      .container
        .row.mb-5
          .col-lg-4
            .site-section-heading(data-aos='fade-up' data-aos-delay='100')
              h2 Welcome To The Society
          .col-lg-5.mt-5.pl-lg-5(data-aos='fade-up' data-aos-delay='200')
            p
              | The IEEE Computer Society is the world&apos;s leading membership
              | organization dedicated to computer science and technology.
              | Serving more than 60,000 members, the IEEE Computer Society is
              | the trusted information, networking, and career-development
              | source for a global community of technologyleaders that includes
              | researchers, educators, software engineers, IT professionals,
              | employers, and students.
