extends partials/base.pug

block content
  .site-wrap
    #particles-js
    .site-section
      .container
        .row.mb-5.justify-content-center
          .col-lg-4.mb-5
            .site-section-heading(data-aos='fade-up')
              h2.text-center Our Team
        .row
          include partials/profile-cards.pug